.request-page-people-section__main {
    display: grid;
    grid-auto-flow: row;
}

.request-page-people-section__main__item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid #00000030;
    padding:12px 12px;
    background-color: var(--theme-white-300);
}

.basicui-dark .request-page-people-section__main__item {
    border-color: #ffffff30;
    background-color: var(--theme-black-50);
}
