.request-page-request-section__main {
    display: grid;
    grid-auto-flow: row;
    // row-gap: 12px;
}

.request-page-request-section__main__item {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid #00000030;
    padding:12px;
    background-color: #008cff50;
    // border-radius: 4px;
}

.basicui-dark .request-page-request-section__main__item {
    border-color: #ffffff30;
    background-color: #008cff50;
}

.request-page-request-section__main__item {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2px;
}

.request-page-request-section__main__item__left__bottom {
    font-size: 12px;
    opacity: 0.75;
}