.request-page {}

.request-page__main {
  padding: 20px 20px;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // row-gap: 20px;
  // column-gap: 20px;
}

.request-page__main__container {
  display: grid;
  grid-auto-flow: row;
  row-gap: 12px;
}

.right-navbar {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
}

.roommate-request-action-container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 6px;
  justify-content: flex-end;
}

.roommate-request-action {
  background-color: var(--theme-primary-500);
  color: var(--theme-primary-500i);
  border: none;
  box-shadow: none;
  padding: 4px 12px;
  border-radius: 2px;
  font-size: 12px;
  border: 1px solid var(--theme-primary-500);
  cursor: pointer;
  transition: 250ms ease-in-out background-color, 250ms ease-in-out color;
}

.roommate-request-action:hover {
  background-color: var(--theme-primary-600);
  color: var(--theme-primary-600i);
}

.roommate-request-action--danger {
  background-color: var(--theme-warning-400);
  color: var(--theme-warning-400i);
  border-color: var(--theme-warning-400);
}
.roommate-request-action--danger:hover {
  background-color: var(--theme-warning-500);
  color: var(--theme-warning-500i);
}

.roommate-request-action--success {
  background-color: var(--theme-success-700);
  color: var(--theme-success-700i);
  border-color: var(--theme-success-700);
}
.roommate-request-action--success:hover {
  background-color: var(--theme-success-800);
  color: var(--theme-success-800i);
}